body {
	background-color: #c0c1bb;
}

h1 {
	padding: 20px 0 50px 0;
	color: #0656af;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	background-color: #c0c1bb;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

form {
	padding: 0 0 50px 0;
	background-color: #c0c1bb;
}

select {
	min-width: 200px;
	font-size: 24px;
	background-color: #ededed;
	border-radius: 5px;
}

ol {
	font-size: 20px;
	color: #1a3ef6;
	font-family: Verdana, Tahoma, sans-serif;
}

p {
	font-size: 24px;
	color: rgb(238, 11, 11);
	font-family: Verdana, Tahoma, sans-serif;
	text-align: center;
	padding: 0 100px;
}
