h1 {
	padding: 20px 0 50px 0;
	color: #0656af;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	background-color: #c0c1bb;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-bottom: 100px;
	height: 100vw;
}

form {
	padding: 0 100px 200px 100px;
	border: #5683ff solid 1px;
	background-color: #aeafa9;
}

select {
	min-width: 200px;
	font-size: 24px;
}

ol {
	font-size: 20px;
	color: #1a3ef6;
	font-family: Verdana, Tahoma, sans-serif;
}

p {
	font-size: 24px;
	color: rgb(238, 11, 11);
	font-family: Verdana, Tahoma, sans-serif;
	text-align: center;
	padding: 100px;
	position: relative;
	top: -100px;
}
